# Database
DATABASE_URL="postgresql://greenbubble:greenbubble_dev@localhost:5432/greenbubble?schema=public"

# Auth
JWT_SECRET="change-this-to-a-random-64-char-string"
JWT_EXPIRY="14d"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
